
.square{
    width:100px;
    height:100px;
}

.v{
    border-left:10px solid #000;
    border-right:10px solid #000;
}

.h{
    border-top:10px solid #000;
    border-bottom:10px solid #000;
}

#board{
    width: 300px;
    margin: 0 auto;
}
